{% extends 'main/main.html' %}
{% load static %}
{% block content %}
<form action="" method="POST">
  {% csrf_token %}
  {{form}}
  <input type = "submit" name="Submit">
</form>

<div class="row">
        <div class="card card-body">
            <form method="get">
                 {{filter.form}}
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
</div>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <div class="alert alert-dark" role="alert">
                    <h3 style="font-family: 'Poppins', sans-serif;">List of all earnings</h3>
            </div>
            <table class="table table-sm">
                <tr>
                    <th>Category</th>
                    <th>Amouny</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                {% for i in earnings  %}
                    <tr>
                        <td>{{i.category.name}}</td>
                            <td>{{i.amount_earnings}}zł <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
</svg></td>
                        <td>{{i.description}}</td>
                        <td>{{i.date}}</td>
                        <td><a class="btn btn-sm btn-info" href="{% url 'update_earning' i.id %}">Edit</a></td>
                        <td><a class="btn btn-sm btn-danger" href="{% url 'delete_earning' i.id %}">Delete</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    </div>

</div>
{% endblock %}
